//
    This is the page for /category/new
h1= title
form( method="post" class="pure-form")
    div
        div
            input(type="text", name="title", id="editGuideTitle" placeholder="Title")
        div
            textarea( name="body", rows=20, id="editGuideBody" placeholder="Description")
        div#editGuideSubmit
            a(href="/").pure-button.pure-button-warning(type="cancel", value="Cancel")= "Cancel"
            input.pure-button.pure-button-primary(type="submit", value="Add")